body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: red;
  border: 1px solid darkred;
  cursor: pointer;
}
